<form action="/listings/update" method="POST">
  <div>
    <input
      class="form-control"
      name="listingID"
      type="hidden"
      value="<%= listing._id %>"
    />
  </div>
  <div>
    <label class="form-label"
      >Location:
      <input
        class="form-control"
        name="location"
        type="text"
        value="<%= listing.location %>"
        required
      />
    </label>
  </div>
  <div>
    <label class="form-label"
      >Opening Date:
      <input
        class="form-control"
        name="openingDate"
        type="date"
        value="<%= listing.openingDate %>"
      />
    </label>
  </div>
  <div>
    <label class="form-label"
      >Size (Sqft):
      <input
        class="form-control"
        name="size"
        type="number"
        placeholder="250"
        value="<%= listing.size %>"
        required
      />
    </label>
  </div>
  <div>
    <label for="unitType" class="form-label"
      >Unit type:
      <select class="form-select" id="unitType" name="unitType">
        <option value="dorm">Dorm</option>
        <option value="apartment">Apartment</option>
      </select>
    </label>
  </div>
  <div>
    <label class="form-label"
      >Offer (Per month):
      <input
        class="form-control"
        name="offer"
        type="number"
        placeholder="1000"
        value="<%= listing.offer %>"
      />
    </label>
  </div>
  <div>
    <label class="form-label"
      >Description:
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="4"
      >
<%= listing.description %></textarea
      >
    </label>
  </div>
  <div>
    <label class="form-label"
      >Lease Term (Months):
      <input
        class="form-control"
        name="leaseInMonths"
        type="number"
        placeholder="6"
        value="<%= listing.leaseInMonths %>"
      />
    </label>
  </div>
  <div>
    <label for="available" class="form-label"
      >Available:
      <select class="form-select" id="available" name="available">
        <option value="TRUE">Yes</option>
        <option value="FALSE">No</option>
      </select>
    </label>
  </div>
  <div>
    <label class="form-label">
      <input
        class="form-control"
        name="authorID"
        type="hidden"
        value="<%= listing.authorID %>"
        required
      />
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Update Listing</button>
</form>
