<ul>
  <% msgs.forEach(function (m) { %>
  <div class="card text-white bg-dark mb-3" style="width: 18rem">
    <% if(m.sender == username) { %>
    <div class="card-header">
      <%= m.sender %>(You) said to <%= m.receiver %>:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center"><%= m.message %></li>
      <li class="list-group-item text-end">at <%= m.time %></li>
    </ul>
    <form
      class="text-center card-footer"
      action="/message/delete"
      method="POST"
    >
      <input
        type="hidden"
        name="message"
        id="message"
        value="<%= m.messageID %>"
      />
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <% } else { %>
    <div class="card-header">
      <%= m.sender %> said to <%= m.receiver %>(You):
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center"><%= m.message %></li>
      <li class="list-group-item text-end">at <%= m.time %></li>
    </ul>
    <form class="text-center card-footer" action="/message/reply" method="POST">
      <label class="form-label"
        >Reply back:
        <textarea
          class="form-control"
          id="message"
          name="message"
          rows="3"
        ></textarea>
      </label>
      <input
        type="hidden"
        name="receiver"
        id="receiver"
        value="<%= m.sender %>"
      />
      <input
        class="form-control"
        id="sender"
        name="sender"
        type="hidden"
        value="<%= m.receiver %>"
      />
      <input
        class="form-control"
        id="time"
        name="time"
        type="hidden"
        value="<%= time %>"
      />
      <button type="submit" class="btn btn-primary">Reply</button>
    </form>
    <% } %>
  </div>
  <br />
  <% })%>
</ul>
